* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-text-color: #f9f2e8; 
    --light-background-color: #f9f2e8;
    --light-accent-text-color: #fbe3c0;
    --light-accent-background-color: #fbe3c0;
    --accent-text-color: #e9bb79;
    --accent-background-color: #e9bb79;
    --dark-text-color: #3f250f;
    --dark-background-color: #3f250f;
}

h1, h2, h3, h4 {
    font-family: 'Passion One', sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 700;
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

p, ul {
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
}

p.small {
    font-size: 1.1rem;
}

section {
    min-height: 500px;
    border: 1px solid black;
}

.container {
    align-content: center;
    justify-items: center;
    text-align: center;
    border: 1px solid black;
    display: grid;
    gap: 30px;
    margin: 0 auto;
    padding: 50px 20px;
}

section.container p {
    max-width: 800px;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: inherit;
}

li.cta {
    font-weight: 700;
}

li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    min-height: 60px;
    min-width: 150px;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
    padding: 0 20px;
    border: 1px solid var(--accent-background-color);
    color: var(--dark-text-color);
    background-color: var(--light-background-color);
}

button.cta {
    border: 5px solid var(--accent-background-color);
    background-color: var(--light-background-color);
    color: var(--dark-text-color);
    font-weight: bold;
}

button.cta:hover {
    background-color: var(--accent-background-color);
    border: 5px solid var(--light-background-color);
    font-size: 1.3rem;
    transition: ease-in-out 0.15s;
}

.italicise {
    font-style: italic;
}

.light-text {
    color: var(--light-text-color);
}

.light-background {
    background-color: var(--light-background-color);
}

.accent-text {
    color: var(--accent-text-color);
}

.accent-background {
    background-color: var(--accent-background-color);
}

.light-accent-text {
    color: var(--light-accent-text-color);
}

.light-accent-background {
    background-color: var(--light-accent-background-color);
}

.dark-text {
    color: var(--dark-text-color);
}

.dark-background {
    background-color: var(--dark-background-color);
}

/* home page (index.html) */

/* header */

header {
    display: flex; 
    padding: 1em 1.5em;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

header li {
    text-align: center;
    display: inline;
}

.logo {
    width: 200px;
    height: 60px;
    background-color: var(--light-background-color);
}

button.menu-button {
    display: block;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 90px;
    right: 2em;
    padding: 1em 1em;
}

.mobile-menu ul {
    display: grid;
    gap: 20px;
}

.other-menu {
    display: none;
}

@media  (min-width: 700px) {
    .other-menu {
        display: block;
    }

    .other-menu ul {
        display: flex;
        gap: 40px;
    }

    button.menu-button, .mobile-menu {
        display: none;
    }
}

/* hero, banner and footer */

.hero, .banner, .footer {
    background-image: url("../images/hero-banner-image.jpg");
    background-size: cover;
    background-position: center;
    align-content: center;
    text-align: center;
}

/* why */

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
}

.why .container {
    max-width: 2400px;;
}

.card {
    width: 300px;
    border-radius: 30px;
    
}

@media (min-width: 700px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1500px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* menu */

.menu-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 0;
}

.menu-item {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50px auto;
    text-align: left;
    max-width: 500px;
    min-height: 100%;
    align-items: center;
}

.menu-item img {
    grid-row: span 2;
    margin-right: 20px;
    border-radius: 15px;
    object-fit: cover;
}

@media(min-width: 1000px) {
    .menu-container {
        grid-template-columns: 1fr 1fr;
    }
}

/* story */

.story {
    align-content: center;
}

.story .container {
    max-width: 800px;
}

/* footer */

footer .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

footer .container > * { /* child combinator (>) */
    display: grid;
    gap: 20px;
}

footer .container ul {
    display: grid;
    gap: 10px;
}

.footer h3, .footer .logo {
    align-self: center;
}

@media (min-width: 800px) {
    .footer .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* buy page (buy.html) */

.teas {
    display: flex;
    flex-direction: column-reverse
}

.teas .container {
    justify-content: center;
}

.teas > * {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.tea.card {
    width: 350px;
    border-radius: 20px;
    display: grid;
    gap: 25px;
    padding: 20px;
}

.tea.card img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    justify-self: center;
    object-fit: cover;
}

/* cart */

.cart {
    padding: 0;
    padding-top: 50px;
}

.cart-container {
    flex: 0 0 420px;
    width: 450px;
    border-radius: 20px;
    padding: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-background-color);
    border-radius: inherit;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item-quantity {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-item button {
    background-color: var(--accent-background-color);
    min-width: 30px;
    min-height: 30px;
    height: 30px;
    padding: 0;
}

.cart-item h3 {
    font-size: 1.7rem;
}

@media (min-width: 900px) {
    .teas {
        flex-direction: row;
        align-items: flex-start;
    }

    .cart-container {
        flex-basis: a;
    }

    .cart-container {
        margin-right: 20px;;
    }
}

/* story page (story.html) */

.gallery .gallery-container {
    padding: 0;
}

.gallery .gallery-container img {
    max-width: 400px;
    border-radius: 20px;
    border: 10px solid var(--accent-background-color)
}

@media (min-width: 900px) {
    .gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}

/* contact page (contact.html) */

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-field {
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--accent-background-color);
    background-color: var(--light-background-color);
    margin-bottom: 30px;
    min-width: 350px;
    width: 100%;
    max-width: 600px;
    font-family: 'Inter', sans-serif;
    font-size: 1.0rem;
}

.number-selection {
    text-align: left;
    display: flex;
    gap: 50px;
    justify-self: left;
}

.number-selection label {
    font-family: "Inter", sans-serif;
    color: var(--dark-text-color);
    margin-bottom: 10px;
}

input[type="radio"] {
    scale: 1.2;
    margin-right: 10px;
}

textarea {
    min-height: 200px;
    margin-bottom: 20px;
}




