<link rel="stylesheet" href="../css/style.css">

<div class="container light-text">
    <div>
        <div class="logo" style="color: black;"><img src="../images/logo.png" alt="Local Teas Logo"></div>
        <p>Made by<br>Ogechukwu Onuora</p>
    </div>

    <div>
        <h3>Site Navigation</h3>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li class="cta"><a href="buy.html">Buy Tea</a></li>
                <li><a href="story.html">Our Story</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>

    <div>
        <h3>Contact</h3>
        <p>(+234) 000 000 000</p>
        <p>contact@localteas.com</p>
    </div>
</div>

    <!-- Note to self: Make sure that this always matches the footer content in the index.html file (located at the root) visually.
     The links are different due to the file structure of the project and thus, two separate sections are required.
     It is still preferable to make updates in just two areas if necessary, as opposed to for every page it is supposed to appear in. -->