<div class="logo">
    <img src="logo.png" alt="Local Teas Logo">
</div>
<!-- note to self: remember the nav links will differ on the html files within the 'pages' folder -->
<!-- note to self: duplicate to the other pages when you are happy with the look of the homepage's UI -->
<button class="menu-button">Menu</button>
<nav class="mobile-menu light-accent-background dark-text">
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li class="cta"><a href="buy.html">Buy Tea</a></li>
        <li><a href="story.html">Our Story</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>
<nav class="other-menu dark-text">
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li class="cta"><a href="buy.html">Buy Tea</a></li>
        <li><a href="story.html">Our Story</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>